USE [master]
GO
/****** Object:  Database [Mensajeria]    Script Date: 24/11/2020 18:43:47 ******/
CREATE DATABASE [Mensajeria]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Mensajeria', FILENAME = N'F:\SQLEXPRESS\MSSQL15.SQLEXPRESS\MSSQL\DATA\Mensajeria.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Mensajeria_log', FILENAME = N'F:\SQLEXPRESS\MSSQL15.SQLEXPRESS\MSSQL\DATA\Mensajeria_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Mensajeria].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Mensajeria]
GO
/****** Object:  Table [dbo].[PedidosEntregados]    Script Date: 24/11/2020 18:43:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PedidosEntregados](
	[Codigo] [varchar](50) NOT NULL,
	[PrecioFinal] [float] NOT NULL,
	[Delivery] [varchar](50) NOT NULL,
	[Direccion] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductosPendientes]    Script Date: 24/11/2020 18:43:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductosPendientes](
	[Codigo] [varchar](50) NOT NULL,
	[PrecioFinal] [float] NOT NULL,
	[Delivery] [varchar](50) NOT NULL,
	[Direccion] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[PedidosEntregados] ([Codigo], [PrecioFinal], [Delivery], [Direccion]) VALUES (N'18-16-30', 550, N'false', N'no es para llevar')
INSERT [dbo].[PedidosEntregados] ([Codigo], [PrecioFinal], [Delivery], [Direccion]) VALUES (N'18-16-31', 550, N'false', N'no es para llevar')
INSERT [dbo].[PedidosEntregados] ([Codigo], [PrecioFinal], [Delivery], [Direccion]) VALUES (N'18-16-32', 550, N'false', N'no es para llevar')
GO
USE [master]
GO
